// global stylings and utility classes

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'noto serif' sans-serif;
    
}
.wrapper {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

* {
  margin: 0;
  padding: 0;
}

// global button stylings / after effects

.btn {
    // btn text settings
    color: #000;
    font-size: 2.2rem;
    text-decoration: none;
    // color/dimensions/padding
    background-color: #D76735;
    box-shadow: 3px 3px 2px #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 1.5rem 4rem;
    //animation
    transition: all .5s;
    // hover / focus states
    &:hover,
    &:focus {
        background-color:#8FB0A9;
        transform: translateY(.25rem);
    }
    // active state
    &:active {
        box-shadow: none;
    }
} 

// heading font

h1,
h2,
h3 {
    font-family: 'Noto Serif', serif;
}
