

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f2d8b3;
  .btn {
      margin-top: 3rem;
    }
}

.questionContainer {
  background-color: #fafafac5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding and margin
  padding: 3rem;
  margin: 1rem;
  //border and border radius
  border: .3rem solid #000;
  border-radius: .5rem;
  //text positioning
  text-align: center;
  letter-spacing:.12rem; 
  // h2 styles
  h2 {
    font-size: 4rem;
  }
  // if correct change background to green
  &.correct {
    background-color: #7fff00;
  }
  // if incorrect background
  &.incorrect{
    background-color: #bb8b8b;
  }
}

.answerChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.possibleAnswer {
  background-color: #fafafac5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin and padding
  margin: .3rem;
  padding: 1rem;
  //border
  border: .3rem solid transparent;
  //font stylings
  font-size: 3rem;
  // animate
  transition: all .2s;

  // hover and focus states
  &:hover,
  &:focus {
    border: .3rem solid #000;
    transform: translateY(.1rem);
  }

  p {
    width: 100%;
    text-align: center;
  }

  &.correct {
    background-color: chartreuse;
  }
  
  
}

.playerResults {
  background-color: cyan;
  height: 100vh;

  &.hide {
    display: none;
  }
}

