

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f2d8b3;
  .btn {
      margin-top: 3rem;
    }
}

.questionContainer {
  background-color: #fafafac5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding and margin
  padding: 3rem;
  margin: 1rem;
  //border and border radius
  border: .3rem solid #000;
  border-radius: .5rem;
  //text positioning
  text-align: center;
  letter-spacing:.12rem; 
  // h2 styles
  h2 {
    font-size: 4rem;
  }
  // if correct change background to green
  &.correct {
    background-color: #cbf7a0;
  }
  // if incorrect background
  &.incorrect{
    background-color: #bb8b8b;
  }
}

.answerChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.possibleAnswer {
  background-color: #fafafac5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin and padding
  margin: .3rem;
  padding: 1rem;
  //border
  border: .3rem solid transparent;
  //font stylings
  font-size: 3rem;
  // animate
  transition: all .2s;

  // hover and focus states
  &:hover,
  &:focus {
    border: .3rem solid #000;
    transform: translateY(.1rem);
  }

  p {
    width: 100%;
    text-align: center;
  }

}

.playerResults {
  background-image: url(../assets/tvStatic.gif);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  // hides at beginning of game
  &.hide {
    display: none;
  }
  
  }

  .resultContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // width: 60%;
  background-color: #f2d8b3;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  border: 2px solid #000;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin: 5rem 0rem;
    // span styling
    span {
      // color: darkgoldenrod;
      text-transform: uppercase;
      font-size: 4rem;
      display: block;
    }
  }

  }



